{
	"env": {
		"browser": true,
		"es2021": true,
		"jest/globals": true
	},
	"extends": [
		"airbnb",
		"prettier",
		"eslint:recommended",
		"plugin:jest/recommended",
		"plugin:react/recommended",
		"plugin:react-hooks/recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:prettier/recommended"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": "./tsconfig.eslint.json", // ! doesn't activate this option
		"ecmaVersion": "latest",
		"ecmaFeatures": {
			"jsx": true
		},
		"sourceType": "module",
		"EXPERIMENTAL_useSourceOfProjectReferenceRedirect": true
	},
	"plugins": ["react", "jest", "prettier", "react-hooks", "@typescript-eslint"],
	"settings": {
		"import/resolver": {
			"node": {
				"extensions": [".js", ".jsx", ".ts", ".tsx"]
			}
		},
		"jest": {
			"globalAliases": {
				"describe": ["context"],
				"fdescribe": ["fcontext"],
				"xdescribe": ["xcontext"]
			}
		}
	},
	"rules": {
		"@typescript-eslint/ban-ts-comment": "warn",
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-floating-promises": ["warn", { "ignoreVoid": true, "ignoreIIFE": true }],
		"@typescript-eslint/no-use-before-define": [
			"warn",
			{ "enums": false, "typedefs": false, "ignoreTypeReferences": true }
		],
		"react/no-unescaped-entities": [
			"warn",
			{
				"forbid": [
					{
						"char": ">",
						"alternatives": ["&gt;"]
					},
					{
						"char": "}",
						"alternatives": ["&#125;"]
					}
				]
			}
		],
		"@typescript-eslint/no-empty-function": "warn",
		"@typescript-eslint/no-unsafe-assignment": "warn",
		"@typescript-eslint/no-unsafe-argument": "warn",
		"@typescript-eslint/no-unsafe-member-access": "warn",
		"@typescript-eslint/unbound-method": ["off", { "ignoreStatic": true }],
		"@typescript-eslint/restrict-template-expressions": "warn",
		"camelcase": "off",
		"consistent-return": "off",
		"import/extensions": "off",
		"import/prefer-default-export": "off",
		"global-require": "off",
		"jsx-a11y/label-has-associated-control": "off",
		"import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
		"no-underscore-dangle": "off",
		"no-unused-expressions": ["error", { "allowTernary": true }],
		"no-param-reassign": "off",
		"no-nested-ternary": "off",
		"no-console": "off",
		"no-plusplus": ["warn", { "allowForLoopAfterthoughts": true }],
		"no-shadow": [
			"warn",
			{ "builtinGlobals": false, "hoist": "functions", "allow": [], "ignoreOnInitialization": true }
		],
		"no-use-before-define": "off",
		"prefer-destructuring": [
			"warn",
			{
				"VariableDeclarator": {
					"array": false,
					"object": true
				},
				"AssignmentExpression": {
					"array": true,
					"object": true
				}
			},
			{
				"enforceForRenamedProperties": false
			}
		],
		"prettier/prettier": [
			"error",
			{
				"endOfLine": "auto"
			}
		],
		"react/prop-types": "off",
		"react/require-default-props": "off",
		"react/jsx-props-no-spreading": "off",
		"react/jsx-no-useless-fragment": "warn",
		"react/jsx-no-bind": "off",
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn",
		"react/no-unstable-nested-components": "off",
		"react/function-component-definition": "off",
		"react/no-array-index-key": "warn",
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [".tsx"]
			}
		],
		"react/react-in-jsx-scope": "off",
		"@typescript-eslint/require-await": "warn"
	}
}
